<h2>Maker Of the website</h2>>

<img src="/Images/balazs.jpg" alt="Balazs" width="500" height="600">

<ul>
  <li>Name: Balazs Sziveri</li>
  <li>Dob: 08/01/2002</li>
  <li>Age: 20</li>
  <li>Hobbies: Gaming, watch Formula 1 & Anime</li>
  <li>Age: 20</li>
</ul>