<h2 style="font-size:80px" id="Title">Balzag Games</h2>

<p></p>
<p></p>
<p></p>
<p></p>

<p style="color: aliceblue;">Where we sell all the best games</p>

{{> links data=linkData}}
{{#if message}} 
<h2 id="message">
    {{message}}    
</h2>
{{/if}}

<img src="/images/gamingbackground.jpg" alt="Balazs">